.message{
    padding: 10px;
    margin:20px ;
    width: fit-content; 
}
.message__user{
    margin-left: auto;
    color:white;
    text-align: left !important;   
}
.message__userCard{
  background-color: skyblue !important;  
}
.message__guestCard{
  background-color: whitesmoke !important;
  
}